// Colours
$body-bg: #fff;
$selection-bg: #04a4cc;
$white: #fff;
$off-white: #f5f5f5;
$grey-lighter: #f0f0f0;
$grey-light: #d6d6d6;
$grey-mid: #ccc;
$grey-dark: #808080;
$grey-darkest: #35292c;
$black: #000;
$off-black: #202020;
$blue: #0073aa;
$blue-light: #00a0d2;
$red: #d33e31;

// Grid
$grid-gutter: 20px;

//  Breakpoints
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 980px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-sm-max: 480px - 1px;
$screen-md-max: 768px - 1px;
$screen-lg-max: 980px - 1px;
$screen-xl-max: 1200px - 1px;
$screen-xxl-max: 1300px - 1px;

// Transitions
$transition-cubic: cubic-bezier(.9, .12, .3, .98);
$transition-cubic-out: cubic-bezier(.69, .12, .1, .98);
$transition-cubic-in: cubic-bezier(.98, .1, .12, .69);
$transition-ease-out: cubic-bezier(.45, .45, 0, .99);
$transition-ease-in: cubic-bezier(.99, 0, .45, .45);

// Wordpress constants
$wp-meta-box-margin: 6px;
$wp-meta-box-padding: 12px;
$wp-button-height: 28px;
$wp-button-primary-height: 30px;
$wp-grey-border: #ededeb;
$wp-grey-bg: #f5f5f5;
$wp-input-border: #7e8993;

// Input styles
$fx-input-border: $wp-input-border;
$fx-input-border-hover: lighten($wp-input-border, 10);
$fx-input-border-radius: 4px;
$fx-input-padding: 2px 8px;
