.fx-admin-page {
  overflow: hidden;

  h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-mid;
  }

  h2 {
    margin: 1em 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
  }

  .meta-field {
    margin-top: 0;
  }

  .form-table {
    border: 1px solid $grey-light;
    background-color: $white;

    @media (min-width: $screen-md) {
      width: 80%;
    }

    th {
      padding: 20px 15px;
    }

    td {
      padding: 15px;
    }

    input,
    textarea {
      padding: 8px;

      &[type='checkbox'],
      &[type='radio'] {
        width: auto;
      }
    }
  }
}
