.meta-field {
  margin: 10px 0 20px;

  &__input {
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: $fx-input-padding !important;
    border-color: $fx-input-border !important;
    border-radius: 0 !important;
    outline: 0;
    line-height: 1.5;
    box-shadow: none;
    cursor: inherit;
    box-sizing: border-box;

    &::placeholder {
      color: $grey-light;
      opacity: 1;
    }

    &:hover {
      border-color: $fx-input-border-hover !important;
    }
  }

  .button-primary:active {
    color: $white;
  }

  input {
    &[type='checkbox'],
    &[type='radio'] {
      width: auto;
      margin-right: 3px;
    }
  }

  & label {
    display: block;
    margin-block: .5rem;
  }

  &__title {
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
  }

  &__description {
    color: $grey-dark;
    font-size: 12px;
    display: block;
    margin-block: .5rem !important;
  }

  &--small {
    input {
      max-width: 60px;
    }
  }

  &--medium {
    input {
      max-width: 120px;
    }
  }

  .description {
    padding: 0;
  }
}

.fx-icon {
  display: inline-flex;
  vertical-align: top;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.fx-button-incognito {
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

.fx-text-button {
  margin-right: 4px;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
}

.meta-input__label {
  margin-right: 1rem;
}

.meta-deprecated {
  color: #842029;
  background-color: #f8d7da;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-color: #f5c2c7;
  border-radius: 0.25rem;
}

.block-editor-page {
  .postbox {
    background-color: rgb(228, 232, 237);
  }

  .postbox-header h2 {
    padding: 1rem 24px !important;
    font-size: 1.5rem !important;
  }
}
