.checkbox_multiple {
    &__toggle {
        margin-top: 5px;
        padding: 0;
        border: 0;
        outline: 0;
        background: none;
        color: $blue;
        text-decoration: underline;
        cursor: pointer;
    }

    &--inline {
        ul {
            margin: 0;
            overflow: hidden;
        }

        li {
            margin-right: 1.5em;
            margin-bottom: 1.5em;
            float: left;
        }
    }
}
