.meta-color {
  &__dropdown {
    margin-bottom: 20px;
    background-color: $white;
  }

  &__trigger {
    display: flex;
    align-items: center;
  }

  &__preview {
    width: $wp-button-height + 2px;
    height: $wp-button-height;
    margin-right: -2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 0 $grey-mid;
  }

  &__button {
    margin-bottom: 0 !important;
  }
}
