.meta-date {
  &__calendar {}

  &__calendar-body {}

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .25rem 0;
  }

  &__wrap {
    padding: .5rem;
  }

  &__month-btn {
    font-size: .7rem;
  }

  &__week-day {
    display: inline-block;
    width: calc(100% / 7);
    font-size: .625rem;
    text-align: center;
  }

  &__date-number {
    display: inline-block;
    width: calc(100% / 7);
    padding: 3px;
    border: 0;
    background: transparent;
    font-size: .7rem;
  }

  &__date-btn {
    transition: background-color .3s, color .3s;

    &:hover {
      background-color: $grey-lighter;
    }

    &--today {
      font-weight: bold;
    }

    &--unavailable {
      background-color: $grey-lighter;
      color: $grey-mid;
    }

    &--selected {
      background-color: $selection-bg;
      color: $white;

      &:hover {
        background-color: $selection-bg;
      }
    }

    &--in-range {
      background-color: $selection-bg;
      color: $white;

      &:hover {
        background-color: $selection-bg;
      }
    }
  }

  &__input-wrap {
    display: inline-block;
    position: relative;
    min-width: 250px;
    cursor: pointer;

    input {
      background-color: $white;
    }
  }

  &__icon-wrap {
    display: flex;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    align-items: center;
    padding: 0 8px;
    background-color: $white;
    color: $grey-dark;
    pointer-events: none;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    transform: translateY(-6px);
    background: $white;
    box-shadow: 0 2px 5px rgba($grey-mid, .3);
    opacity: 0;
    z-index: 10;

    &--center {
      left: 50%;
      transform: translateX(-50%) translateY(-6px);
    }

    &--right {
      right: 0;
      left: auto;
    }

    &--active {
      display: block;
      width: 100%;
      transform: translateY(0);
      opacity: 1;

      &.meta-date__dropdown--center {
        transform: translateX(-50%);
      }
    }
  }
}
