.fx-dropdown {
  display: inline-block;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;

  &__popup {
    display: none;
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0;
    margin-bottom: 20px;
    padding: 0;
    transform: translateY(5px);
    box-shadow: 0 8px 16px rgba(27, 39, 51, 0.08);
    z-index: 20;
    backface-visibility: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    &--active {
      display: block;
    }

    &--above {
      top: auto;
      bottom: 100%;
    }

    &--right {
      right: 0;
      left: auto;
    }

    &--center {
      left: 50%;
      transform: translate(-50%, 100%) translateY(5px);
    }
  }
}
