.fx-form {
  &__field {
    display: block;
    padding: 15px 20px;

    &--submit {
      border-top: 1px solid $grey-mid;
      background-color: $off-white;
      text-align: right;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }
}
