.meta-group__accordion {
  display: none;
}

.meta-group__accordion--open {
  display: block;
}

.meta-group__trigger__checkbox {
  margin-right: 8px !important;
}

.meta-group__trigger--default {
  color: $blue;
  text-decoration: underline;

  &:hover {
    color: $blue-light;
  }
}

.meta-group__modal {
  padding: 1rem;
}

.meta-group__modal__footer {
  text-align: right;
}
