.meta-icon {
  position: relative;

  &__dropdown {
    position: relative;
    width: 300px;
    max-width: 100%;
    background-color: $white;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      border: solid $grey-mid;
      border-width: 1px 1px 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    margin: 0;
    padding: 0;
    border: solid $grey-mid;
    border-width: 1px 0 0 1px;
    overflow-y: auto;
  }

  &__list__item {
    display: inline-block;
    width: 20%;
    margin: 0;
    border: solid $grey-mid;
    border-width: 0 1px 1px 0;
  }

  &__preview {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;

    &:hover {
      border-color: $grey-mid;
      background: $off-white;
    }

    &--selected {
      background-color: $selection-bg;
      color: $white;

      &:hover {
        background-color: $selection-bg;
      }
    }

    &::before {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 30px;
    }
  }

  &__value-preview {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;

    &::before {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 40px;
    }
  }
}
