.meta-input-pairs__label {
  display: block;
  margin-bottom: .5em;
  font-weight: bold;
}

.meta-input-pairs__item {
  margin-bottom: 20px;
  overflow: hidden;

  input {
    width: 80%;
  }

  textarea {
    width: 100%;
    min-height: 3em;
  }
}

.meta-input-pairs__item--list {
  input,
  textarea {
    width: 100%;
    max-width: 100%;
  }
}

.meta-input-pairs__item__remove {
  margin-top: 12px;
}
