.meta-link {
  display: flex;
  align-items: center;

  &__hidden-input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &__value {
    display: inline-flex;
    margin-right: .5rem;
    padding: .3rem .5rem;
    border: 1px solid $grey-mid;
  }

  &__text {
    margin-right: .5rem;
    padding-right: .5rem;
    border-right: 1px solid $grey-mid;
  }

  &__href {
    max-width: 200px;
    color: $grey-darkest;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__cancel {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    color: $grey-mid;

    &:hover {
      color: $black;
    }
  }
}
