@keyframes spin {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.loading-spinner {
  display: inline-block;
  transform-origin: center;
  border: solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: spin .6s infinite linear;
}
