.location_map_input__map-container {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: $grey-light;

    .location_map_input__map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            max-width: none;
        }
    }

    .gmnoprint {
        img {
            max-width: none;
        }
    }
}
