.meta-location {
  &__close {
    margin-top: 5px;
  }

  &__input {
    display: flex;
    align-items: center;
  }

  // Nest to override dumb wp
  .meta-location__submit {
    margin-right: 5px;
    margin-left: 5px;
  }

  &__value {
    margin-bottom: 10px;
    line-height: 1.6;

    strong {
      margin-right: 4px;
    }
  }

  &__error {
    color: $red;
  }
}
