.select-media-svg {
    &__preview {
        margin-bottom: 10px;

        svg {
            max-width: 100%;
            max-height: 100px;
        }
    }

    &__change {
        display: none !important;
    }

    &__upload {
        width: auto;
        margin-right: 3px !important;

        input {
            width: 0;
            max-width: 0 !important;
            height: 0;
        }
    }

    textarea {
        display: none;
        height: 120px;
        margin-bottom: 10px;
    }

    button {
        &.button {
            margin-right: 5px;
        }
    }

    &.edit-active {
        textarea {
            display: block;
        }
    }

    &.has-value {
        .select-media-svg__change {
            display: inline-block !important;
        }
    }
}
