.meta-media {
  position: relative;
  z-index: 0;

  &__preview {
    max-width: 100%;
    margin-top: 20px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px (-$grid-gutter / 2) 0;

    &__col {
      width: 50%;
      max-width: 300px;
      padding: 0 ($grid-gutter / 2) $grid-gutter;

      .meta-media--multiple & {
        max-width: none;

        @media (min-width: $screen-md) {
          width: 33.33%;
        }

        @media (min-width: $screen-lg) {
          width: 25%;
        }
      }
    }

    &__preview {
      position: relative;
      z-index: 1000;
    }

    &__name {
      max-width: 100%;
      margin-top: 10px;
      padding: 0 10px;
      font-size: 14px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__btns {
      display: flex;
      position: absolute;
      top: -8px;
      right: 7px;
      align-items: center;
      justify-content: center;

      > * {
        margin-left: 5px;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      padding: 0;
      border: 0;
      outline: 0;
      background: $white;
      color: $blue;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-decoration: none;
      box-shadow: 0 0 4px $grey-mid;
      z-index: 10;

      &:hover {
        cursor: pointer;
      }
    }
  }
}


.meta-media__single {
  position: relative;
  max-width: 300px;
  .meta-media__grid__btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.meta-media__grid__btn--edit {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
}