.fx-modal {
  &__box {
    width: 100%;
  }

  &__content {
    position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: $white;
    overflow: hidden;
    z-index: 10;
  }

  &__shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .35s;
    background-color: $black;
    opacity: 0;
    z-index: -1;

    &--active {
      opacity: .5;
    }
  }

  &__wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 0;
    min-height: 100%;
    transition: opacity .35s, width 0s .35s, z-index 0s .35s;
    opacity: 0;
    overflow: hidden;
    z-index: 9999;
    pointer-events: none;

    &--active {
      width: 100%;
      transition: opacity .35s;
      opacity: 1;
      -webkit-overflow-scrolling: touch;
      overflow-y: overlay;
      pointer-events: all;
    }
  }
}
