.rich-text-media-row {
  display: grid;
  grid-template-columns: 70% 20% 10%;
  gap: 1rem;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;

  .meta-wp-rich-text {
    min-height: 100px;
  }

  .meta-media--single {
    height: 100px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100px;
      object-position: 50% 50%;
    }
  }

  .meta-media--populated {
    border: 1px solid $grey-dark;
    background-color: $white;
  }
  .meta-media--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .meta-media__grid__btns {
    top: 0px;
    right: 10px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}