.meta-section {
  &__preview {
    margin-bottom: 20px;
  }

  &__item {
    position: relative;

    &--closed {
      .meta-section__inputs {
        display: none;
      }

      .meta-section__template {
        padding-bottom: 0;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
  }

  &__template {
    padding-bottom: 20px;
    border-bottom: 1px dashed $grey-light;
  }

  &__trigger {
    width: 100%;
  }

  &__up {
    svg {
      transform: rotateZ(-90deg);
    }
  }

  &__down {
    svg {
      transform: rotateZ(90deg);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
  }

  &__toggle {
    color: $blue;
    text-decoration: underline;

    &:hover {
      color: $blue-light;
    }
  }

  &__button {
    display: inline-flex;
    height: 16px;
    margin: auto;
    color: $grey-dark;
    font: inherit;
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    width: 80px;
    margin-right: .5rem;
    margin-left: .5rem;
    text-align: right;
  }

  &__drag-handle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    opacity: .2;

    &:hover {
      opacity: 1;
    }
  }

  &__inputs-modal .meta-input-group {
    padding: 1rem;
  }

  &__inputs-modal__footer {
    padding: 1rem;
    text-align: right;
    border-top: 1px solid $grey-light;
    background-color: $grey-lighter;
  }

  &__table {
    flex-grow: 1;
    margin-bottom: 1rem;
    border-collapse: collapse;

    &__row {
      background-color: $white;
      border-bottom: 1px solid $grey-light;

      .meta-section__buttons {
        flex-direction: row;
        width: 60px;
        margin-right: .5rem;
        margin-left: 0;
      }

      &--sorting {
        display: table !important;
        width: 100%;
        border-collapse: collapse;
        vertical-align: middle;
      }
    }

    &__column {
      padding: .5rem 0;

      &--small {
        width: 20px;
      }

      &--grow {
        width: 100%;
      }
    }

    &__title {
      text-transform: capitalize;
    }

    &__edit-btn {
      margin-left: 1rem !important;
      vertical-align: middle !important;
    }

    &__buttons {
      max-width: 50px;
      padding: 0;
      text-align: center;
    }
  }
}
