.meta-section__item--closed {
  .fx-meta-section__header {
    background-color: $white;
  }

  .fx-meta-section__title {
    color: inherit;
  }
}

.meta-field.fx-page-sections {
  margin-top: -6px;
}

.fx-meta-section__template {
  margin: 0 (-$wp-meta-box-padding);
  padding: 0 0 $wp-meta-box-padding;
  border-bottom: 1px solid $wp-grey-border;
  background-color: $white;
}

.fx-meta-section__header,
.fx-meta-section__inputs {
  padding-right: $wp-meta-box-padding;
  padding-left: $wp-meta-box-padding;
}

.fx-meta-section__header {
  background-color: $wp-grey-bg;
}

.fx-meta-section__title {
  color: $blue;
}

.fx-admin-page {
  .fx-page-sections {
    margin: 0;
  }

  .fx-page-sections > th {
    display: none;
  }

  .fx-page-sections > td {
    // Match the padding for the normal wp post box
    padding: 0 $wp-meta-box-padding $wp-meta-box-padding;
  }

  .fx-page-sections .meta-field {
    // Restore margins on meta-fields
    margin-top: 10px;
  }

  .fx-page-sections.meta-field {
    // Force remove on the first one
    margin-top: 0;
  }
}

.fx-page-sections__options {
  position: absolute;
  right: 6px;
  z-index: 20;
}

.fx-page-sections .fx-page-sections__options {
  // If inside page section meta, we don't need any offset
  right: 0;
}

// Gutenberg
.fx-meta-gutenberg {
  .edit-post-meta-boxes-area {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .edit-post-layout__metaboxes {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.fx-meta-gutenberg--hide-blocks {
  .block-editor-block-list__layout {
    display: none !important;
  }

  .block-editor-writing-flow__click-redirect {
    display: none !important;
  }
}
