.meta-select {
  position: relative;

  &__input {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    max-width: 100%;
  }

  &__label {
    display: inline-block;
    height: 38px;
    line-height: 38px;
  }

  .meta-select-react__value-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .meta-select-react__control {
    min-height: 32px;
    border-color: $fx-input-border;
    border-radius: $fx-input-border-radius;
  }

  .meta-select-react__control:hover {
    border-color: $fx-input-border-hover;
  }

  .meta-select-react__input {
    min-height: 24px;
  }
}
