.meta-select-order {
  &__item {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 65px 10px 10px;
    border-bottom: 1px solid $grey-lighter;
    text-align: left;
    cursor: pointer;
    overflow: hidden;

    &__delete {
      display: block;
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      padding: 0;
      border: 0;
      outline: 0;
      background: none;
      color: $grey-mid;
      font: inherit;
      cursor: pointer;

      &:hover {
        color: $black;
      }
    }

    &:hover {
      box-shadow: 0 0 3px $grey-light;
    }
  }

  &__drag-handle {
    display: flex;
    position: absolute;
    top: 35%;
    right: 35px;
    cursor: move;
    opacity: .2;

    &:hover {
      opacity: 1;
    }
  }
}
