.meta-switcher {
  &__select {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    z-index: 10;
  }

  &__select__input {
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px;
  }

  &__templates {
    display: none;
  }
}
