.meta-field-tabs {
  margin: (-$wp-meta-box-margin) (-$wp-meta-box-padding) (-$wp-meta-box-padding);
}

.meta-tabs {
  position: relative;

  &__button {
    padding: .75rem 1rem;
    border: solid $grey-light;
    border-width: 1px 1px 1px 0;
    background-color: $grey-lighter;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
    }

    &--active {
      border-bottom-color: $white;
      background-color: $white;
      color: $blue;
    }
  }

  &__header {
    margin-bottom: -1px;
    padding: 10px 10px 0;
    background-color: $off-white;
    z-index: 1;
  }

  &__content {
    padding: 1rem;
    border: 1px solid $grey-light;
    border-width: 1px 0 0;
    z-index: 0;
  }

  &--left {
    display: flex;

    .meta-tabs__header {
      min-width: 130px;
      max-width: 200px;
      margin-bottom: 0;
      padding: 0;
      background-color: $grey-lighter;
    }

    .meta-tabs__content {
      flex-grow: 1;
      border-width: 0 0 0 1px;
    }

    .meta-tabs__button {
      display: block;
      width: calc(100% + 1px);
      border-width: 0 0 1px;
      background: none;
      text-align: left;

      &:first-child,
      &:last-child {
        border-radius: 0;
      }

      &--active {
        border-bottom-color: $grey-light;
        background-color: $white;
      }
    }
  }
}
