.meta-field-text-editor {
  .texteditor {
    border: 1px solid $grey-dark;
    box-sizing: border-box;
    background: white;
  }

  .editor-content {
    box-sizing: border-box;
    height: 300px;
    outline: 0;
    overflow-y: auto;
    padding: 20px;
    p, li, span, a {
      font-size: 16px;
    }

    ul {
      list-style-type: initial;
      padding-left: 2em;
    }
  }

  .editor-actionbar {
    border-bottom: 1px solid $grey-dark;
  }

  .editor-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 48px;
    width: 48px;
    outline: 0;
    vertical-align: bottom;
    transition: fill .2s ease-in-out;

    &:hover {
      color: #007cba;
      svg {
        fill: #007cba;
      }
    }

    &:last-of-type {
      border-right: 1px solid $grey-dark;
    }

    + .editor-button {
      border-left: 1px solid $grey-dark;
    }
  }

  .editor-button-selected {
    background-color: $black;
    svg {
      fill: $white;
    }
  }

  h2, h3 {
    margin: 1em 0 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 0 !important;
  }

  h3 {
    font-size: 16px !important;
  }
}