// Global box-sizing
// NOTE: Add meta-field because gutenberg styles use 'inherit' so this will force inner elements
// to inherit from this as it's more specific than *. Not 100% sure what's going on, but WP must
// reset the box-sizing somewhere else.
*,
*::after,
*::before,
.meta-field {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// Utils
@import 'utils/variables';

// Base
@import 'partials/base';

// Specific
@import 'partials/admin-page';
@import 'partials/checkbox-multiple';
@import 'partials/checkbox';
@import 'partials/color';
@import 'partials/date';
@import 'partials/datafield';
@import 'partials/dropdown';
@import 'partials/forms';
@import 'partials/group';
@import 'partials/icon';
@import 'partials/input-pairs';
@import 'partials/link';
@import 'partials/loading';
@import 'partials/location-map';
@import 'partials/location';
@import 'partials/media-svg';
@import 'partials/media';
@import 'partials/modal';
@import 'partials/rich-text-media';
@import 'partials/section';
@import 'partials/sections';
@import 'partials/select';
@import 'partials/select-multiple';
@import 'partials/select-order';
@import 'partials/switcher';
@import 'partials/tabs';
@import 'partials/textarea';
@import 'partials/texteditor';
@import 'partials/textfield';
@import 'partials/wp-editor';
@import 'partials/wp-rich-text';

.sorting-helper {
  z-index: 9999;
}
